<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-button (click)="dismissModal()">
				<ion-icon name="arrow-back-outline"></ion-icon>
			</ion-button>
		</ion-buttons>
		<ion-title>лс {{meteringPointProps.lsProm}} {{meteringPointProps.tu}}</ion-title>
	</ion-toolbar>
</ion-header>


<ion-content>
	<div class="ion-padding-horizontal">
		<h2>{{meteringPointProps.nameAbon|uppercase}}</h2>
		<p>
			<ion-icon name="calendar"></ion-icon>
			Дата обновление: {{meteringPointProps.dateUpdate}}
		</p>
	</div>

	<ion-list>
		<ion-item>
			<ion-label>
				<h2>Адрес:</h2>
			</ion-label>
			<span class="is-event-details-span" slot="end">{{meteringPointProps.addressAbon}}</span>
		</ion-item>

		<ion-item>
			<ion-label>
				<h2>Телефон:</h2>
			</ion-label>
			<span class="is-event-details-span" slot="end">{{meteringPointProps.telAbon}}</span>
		</ion-item>

		<ion-item>
			<ion-label>
				<h2>Тариф:</h2>
			</ion-label>
			<span class="is-event-details-span" slot="end">{{meteringPointProps.tarif}}</span>
		</ion-item>

		<ion-item>
			<ion-label>
				<h2>ТУ:</h2>
			</ion-label>
			<span class="is-event-details-span" slot="end">{{meteringPointProps.tu}}</span>
		</ion-item>

		<ion-item>
			<ion-label>
				<h2>Мощность:</h2>
			</ion-label>
			<span class="is-event-details-span" slot="end">{{meteringPointProps.power}} кВт</span>
		</ion-item>

		<ion-item>
			<p class="is-event-details-span" slot="start">{{meteringPointProps.tp}}</p>
		</ion-item>

	</ion-list>
	
	<ion-list lines="none" class="is-list-buttons is-list-transparent ion-padding ion-no-margin">
		<ion-item color="primary" button detail="true" type="submit" (click)="presentMeterReadingsPage(meteringPointProps)">
			<ion-label>История показание</ion-label>
		</ion-item>
	</ion-list>

	<ion-grid class="is-grid is-grid-tiles is-grid-bordered ion-no-padding">
		<ion-row >
			<ion-col size="6">

				<ion-row>
					<h3>Тип ПУ <span class="is-color-primary">{{meteringPointProps.namePU}}</span></h3>
				</ion-row>

				<ion-row>
					<h3>Ампер<span class=" is-color-primary">{{meteringPointProps.ampere}}</span></h3>
				</ion-row>

				<ion-row>
					<h3>Коэф T/T<span class=" is-color-primary">{{meteringPointProps.coeffTT}}</span></h3>
				</ion-row>

				<ion-row>
					<h3>Гос.пломба<span class=" is-color-success">{{meteringPointProps.gosPlomb === '' ? 'нет пломбы' : meteringPointProps.gosPlomb}}</span></h3>
				</ion-row>

				<ion-row>
					<h3>Пломба на крышке<span class=" is-color-success">{{meteringPointProps.lidPlomb === '' ? 'нет пломбы' : meteringPointProps.lidPlomb}}</span></h3>
				</ion-row>

				<ion-row>
					<h3>Пломба ТТ<span class=" is-color-success">{{meteringPointProps.ttPlomb === '' ? 'нет пломбы' : meteringPointProps.ttPlomb}}</span></h3>
				</ion-row>

				<ion-row>
					<h3>Пломба РТН<span class=" is-color-success">{{meteringPointProps.rtnPlomb === '' ? 'нет пломбы' : meteringPointProps.rtnPlomb}}</span></h3>
				</ion-row>

			</ion-col>

			<ion-col size="6">

				<ion-row>
					<h3>№ <span class=" is-color-primary ">{{meteringPointProps.numPU}}</span></h3>
				</ion-row>

				<ion-row>
					<h3>Расположение ПУ<span class="is-color-primary">{{meteringPointProps.locationPU}}</span></h3>
				</ion-row>

				<ion-row>
					<h3>Последнее показание<span class=" is-color-primary">{{meteringPointProps.meterReading}}</span></h3>
				</ion-row>

				<ion-row>
					<h3>ОРП<span class=" is-color-success">{{meteringPointProps.disposablePlomb === '' ? 'нет пломбы' : meteringPointProps.disposablePlomb}}</span></h3>
				</ion-row>
				<ion-row>
					<h3>Пломба щие ТТ<span class=" is-color-success">{{meteringPointProps.shieldTTPlomb === '' ? 'нет пломбы' : meteringPointProps.shieldTTPlomb}}</span></h3>
				</ion-row>
				<ion-row>
					<h3>Пломба щие ТН<span class=" is-color-success">{{meteringPointProps.shieldTNPlomb === '' ? 'нет пломбы' : meteringPointProps.shieldTNPlomb}}</span></h3>
				</ion-row>
				<ion-row>
					<h3>Пломба АВ ТН<span class=" is-color-success">{{meteringPointProps.abtnPlomb === '' ? 'нет пломбы' : meteringPointProps.abtnPlomb}}</span></h3>
				</ion-row>

			</ion-col>

		</ion-row>
	</ion-grid>
</ion-content>

