<ion-header>
	<ion-toolbar>
		<ion-title>лс {{meteringPoint.lsProm}} {{meteringPoint.tu}}</ion-title>
		<ion-buttons slot="start">
			<ion-back-button></ion-back-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>


<ion-content>
	<div class="ion-padding-horizontal">
		<h2>{{meteringPoint.nameAbon|uppercase}}</h2>
		<p>
			<ion-icon name="calendar"></ion-icon>
			Дата обновление: {{meteringPoint.dateUpdate}}
		</p>
	</div>

	<ion-list>
		<ion-item>
			<ion-label>
				<h2>Адрес:</h2>
			</ion-label>
			<span class="is-event-details-span" slot="end">{{meteringPoint.addressAbon}}</span>
		</ion-item>

		<ion-item>
			<ion-label>
				<h2>Телефон:</h2>
			</ion-label>
			<span class="is-event-details-span" slot="end">{{meteringPoint.telAbon}}</span>
		</ion-item>

		<ion-item>
			<ion-label>
				<h2>Тариф:</h2>
			</ion-label>
			<span class="is-event-details-span" slot="end">{{meteringPoint.tarif}}</span>
		</ion-item>

		<ion-item>
			<ion-label>
				<h2>ТУ:</h2>
			</ion-label>
			<span class="is-event-details-span" slot="end">{{meteringPoint.tu}}</span>
		</ion-item>

		<ion-item>
			<ion-label>
				<h2>Мощность:</h2>
			</ion-label>
			<span class="is-event-details-span" slot="end">{{meteringPoint.power}} кВт</span>
		</ion-item>

		<ion-item>
			<p class="is-event-details-span" slot="start">{{meteringPoint.tp}}</p>
		</ion-item>

	</ion-list>

	<ion-grid class="is-grid is-grid-tiles is-grid-bordered ion-no-padding">
		<ion-row >
			<ion-col size="6">

				<ion-row>
					<h3>Тип ПУ <span class="is-color-primary">{{meteringPoint.namePU}}</span></h3>
				</ion-row>

				<ion-row>
					<h3>Ампер<span class=" is-color-primary">{{meteringPoint.ampere}}</span></h3>
				</ion-row>

				<ion-row>
					<h3>Коэф T/T<span class=" is-color-primary">{{meteringPoint.coeffTT}}</span></h3>
				</ion-row>

				<ion-row>
					<h3>Гос.пломба<span class=" is-color-success">{{meteringPoint.gosPlomb === '' ? 'нет пломбы' : meteringPoint.gosPlomb}}</span></h3>
				</ion-row>

				<ion-row>
					<h3>Пломба на крышке<span class=" is-color-success">{{meteringPoint.lidPlomb === '' ? 'нет пломбы' : meteringPoint.lidPlomb}}</span></h3>
				</ion-row>

				<ion-row>
					<h3>Пломба ТТ<span class=" is-color-success">{{meteringPoint.ttPlomb === '' ? 'нет пломбы' : meteringPoint.ttPlomb}}</span></h3>
				</ion-row>

				<ion-row>
					<h3>Пломба РТН<span class=" is-color-success">{{meteringPoint.rtnPlomb === '' ? 'нет пломбы' : meteringPoint.rtnPlomb}}</span></h3>
				</ion-row>

			</ion-col>

			<ion-col size="6">

				<ion-row>
					<h3>№ <span class=" is-color-primary ">{{meteringPoint.numPU}}</span></h3>
				</ion-row>

				<ion-row>
					<h3>Расположение ПУ<span class="is-color-primary">{{meteringPoint.locationPU}}</span></h3>
				</ion-row>

				<ion-row>
					<h3>Последнее показание<span class=" is-color-primary">{{meteringPoint.meterReading}}</span></h3>
				</ion-row>

				<ion-row>
					<h3>ОРП<span class=" is-color-success">{{meteringPoint.disposablePlomb === '' ? 'нет пломбы' : meteringPoint.disposablePlomb}}</span></h3>
				</ion-row>
				<ion-row>
					<h3>Пломба щие ТТ<span class=" is-color-success">{{meteringPoint.shieldTTPlomb === '' ? 'нет пломбы' : meteringPoint.shieldTTPlomb}}</span></h3>
				</ion-row>
				<ion-row>
					<h3>Пломба щие ТН<span class=" is-color-success">{{meteringPoint.shieldTNPlomb === '' ? 'нет пломбы' : meteringPoint.shieldTNPlomb}}</span></h3>
				</ion-row>
				<ion-row>
					<h3>Пломба АВ ТН<span class=" is-color-success">{{meteringPoint.abtnPlomb === '' ? 'нет пломбы' : meteringPoint.abtnPlomb}}</span></h3>
				</ion-row>

			</ion-col>

		</ion-row>
	</ion-grid>

	<!--	<ion-list>-->
	<!--		<ion-list-header>-->
	<!--			<ion-label>Content</ion-label>-->
	<!--		</ion-list-header>-->
	<!--		<ion-item>-->
	<!--			<ion-thumbnail slot="start">-->
	<!--				<img src="assets/imgs/album3.png">-->
	<!--			</ion-thumbnail>-->
	<!--			<ion-label>-->
	<!--				<h2>Products List</h2>-->
	<!--				<p>-->
	<!--					All the products you will ever need by Dell.-->
	<!--				</p>-->
	<!--			</ion-label>-->
	<!--			<span slot="end">-->
	<!--        <ion-button size="small" fill="clear" slot="start">-->
	<!--          <ion-icon name="download"></ion-icon>-->
	<!--        </ion-button>-->
	<!--      </span>-->
	<!--		</ion-item>-->
	<!--		<ion-item>-->
	<!--			<ion-thumbnail slot="start">-->
	<!--				<img src="assets/imgs/album6.png">-->
	<!--			</ion-thumbnail>-->
	<!--			<ion-label>-->
	<!--				<h2>Appendix</h2>-->
	<!--				<p>-->
	<!--					A necessary catalog for our products.-->
	<!--				</p>-->
	<!--			</ion-label>-->
	<!--			<span slot="end">-->
	<!--        <ion-button size="small" fill="clear" slot="start">-->
	<!--          <ion-icon name="download"></ion-icon>-->
	<!--        </ion-button>-->
	<!--      </span>-->
	<!--		</ion-item>-->
	<!--	</ion-list>-->

	<div class="ion-padding-horizontal">
		<ion-grid class="is-grid ion-no-padding">
			<ion-row>
				<ion-col size="6" class="ion-text-center">

					<ion-button expand="block" fill="outline" (click)="presentModalMeteringPointHistory(meteringPoint)">
						<ion-icon name="layers-sharp" slot="start"></ion-icon>
						История
					</ion-button>
				</ion-col>
				<ion-col size="6" class="ion-text-center">
					<ion-button expand="block" fill="outline" (click)="presentModalMeterReadings(meteringPoint)">
						<ion-icon name="scale-sharp" slot="start"></ion-icon>
						Показание
					</ion-button>
				</ion-col>
			</ion-row>
		</ion-grid>
	</div>
</ion-content>

