<ion-header>
	<ion-toolbar>
		<ion-title>Контракт № {{pSubscriber.numContract}}</ion-title>
		<ion-buttons slot="start">
			<ion-back-button></ion-back-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-progress-bar *ngIf="isSubmittingGetPSubscriber$|async" type="indeterminate" color="primary" reversed="true"></ion-progress-bar>
	<ion-grid *ngIf="isLoggedInGetPSubscriber$|async" class="is-grid is-grid-tiles is-grid-bordered ion-no-padding">
		<ion-row class="is-grid-title is-grid-title-buttons">
			<ion-col size="9" class="is-tile">
				<h3>
					<span>Наименование</span>
					<h5>{{pSubscriber.nameProm}}</h5>
				</h3>
			</ion-col>
			<ion-col size="3" class="is-tile">
				<h3>
					<span class="ion-padding-end">Кол-во ТУ</span>
					<h5 class="ion-padding-end colored is-color-primary">{{(pSubscriber$|async)?.meteringPoints.length}}</h5>
				</h3>
			</ion-col>
		</ion-row>
		
		<ion-row>
			<ion-col class="is-tile">
				<h3>
					<span>Лс для оплаты</span>
					<h5>{{pSubscriber.lsProm}}</h5>
				</h3>
			</ion-col>
			<ion-col size="7" class="is-tile">
				<h3>
					<span class="ion-padding-end">Сальдо на {{pSubscriber.dateUpdate}}</span>
					<h5 slot="end" [ngClass]="pSubscriber.dolg <= 0 ? 'ion-padding-end colored is-color-success' : 'ion-padding-end colored is-color-danger'">
						{{pSubscriber.dolg}} сом</h5>
				</h3>
			</ion-col>
		</ion-row>
		<ion-row class="is-grid-title is-grid-title-buttons">
			<ion-col size="12" class="is-tile">
				<h3>
					<span>Адрес</span>
					<h5>{{pSubscriber.addressProm}}</h5>
				</h3>
			</ion-col>
		</ion-row>
		<ion-row class="is-grid-title is-grid-title-buttons">
			<ion-col size="12" class="is-tile">
				<h3>
					<span>ИНН: {{(pSubscriber$|async)?.innPom}}</span>
					<span>Министерство: {{(pSubscriber$|async)?.departmentProm}}</span>
					<span>{{(pSubscriber$|async)?.rsProm}}</span>
				</h3>
			</ion-col>
		</ion-row>
	</ion-grid>
	
	<div class="ion-padding-top">
		<div *ngIf="(pSubscriber$|async)?.meteringPoints.length > 3">
			<ion-searchbar placeholder="Search..." [(ngModel)]="searchTerm" show-cancel-button="focus"></ion-searchbar>
		</div>
		<ion-list class="is-list-colored" *ngFor="let meteringPoint of (pSubscriber$|async)?.meteringPoints | filter:searchTerm">
			<ion-item [ngClass]="meteringPointColorTU(meteringPoint.tu)" [routerLink]="['/metering-point-details']" (click)="setMeteringPoint(meteringPoint)">
				<ion-label>
					<h2>{{meteringPoint.nameAbon| uppercase}}</h2>
				</ion-label>
				<div slot="end">
					<h2 class="ion-no-margin">{{meteringPoint.tu}}</h2>
				</div>
			</ion-item>
		</ion-list>
	</div>
</ion-content>

