<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-button (click)="dismissModal()">
				<ion-icon name="arrow-back-outline"></ion-icon>
			</ion-button>
		</ion-buttons>
		<ion-title slot="start">{{base1cProps?.name}}</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-searchbar placeholder="Search..." [(ngModel)]="searchLine" (ionChange)="findPSubscribers()" show-cancel-button="focus"></ion-searchbar>
	<ion-progress-bar *ngIf="isSubmittingGetPSubscribers$|async" type="indeterminate" color="primary" reversed="true"></ion-progress-bar>
	<ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
		<ion-refresher-content color="primary"></ion-refresher-content>
	</ion-refresher>
	
	<ion-list *ngIf="(pSubscriberList$|async).length > 0" lines="full" class="is-list-colored">
		<div *ngFor="let pSubscriber of pSubscriberList$|async; let i = index">
			<ion-item [ngClass]="pSubscriber.dolg <= 0 ? 'is-item-category-success' : 'is-item-category-danger'" (click)="itemTapped(i)">
				<ion-label (click)="presentMeteringPointListPage(pSubscriber)">
					<h2>
						{{pSubscriber.numContract}} / {{pSubscriber.lsProm}}
					</h2>
					<p>{{pSubscriber.nameProm}}</p>
					<p>{{pSubscriber.addressProm}} : {{pSubscriber.dateUpdate}}</p>
				</ion-label>
				<div slot="end" class="is-list-colored-button-group">
					<h3>{{pSubscriber.dolg |number:'0.1-2'}}</h3>
				</div>
			</ion-item>
		</div>
	</ion-list>
	
	<ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
		<ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data..."></ion-infinite-scroll-content>
	</ion-infinite-scroll>
</ion-content>
