<ion-header>
	<ion-toolbar>
		<ion-title>User edit</ion-title>
		<ion-buttons slot="end">
			<ion-button (click)="dismissModal()">Close</ion-button>
		</ion-buttons>
	
	</ion-toolbar>
</ion-header>

<ion-content>
	<form [formGroup]="form">
		<ion-list class="ion-padding-bottom">
			<ion-item>
				<ion-label color="primary" position="stacked">ID: {{userProps.id}} | email: {{userProps.email}}</ion-label>
			</ion-item>
			<ion-item>
				<ion-label color="primary" position="stacked">Name</ion-label>
				<ion-input formControlName="username" type="text" [(ngModel)]="userProps.username"></ion-input>
			</ion-item>
			<ion-item>
				<ion-label color="primary" position="stacked">First name</ion-label>
				<ion-input formControlName="firstName" type="text" [(ngModel)]="userProps.firstName"></ion-input>
			</ion-item>
			<ion-item>
				<ion-label color="primary" position="stacked">Last name</ion-label>
				<ion-input formControlName="lastName" type="text" [(ngModel)]="userProps.lastName"></ion-input>
			</ion-item>
			<ion-item>
				<ion-label color="primary" position="stacked">Position</ion-label>
				<ion-select formControlName="position" interface="popover" [(ngModel)]="userProps.position">
					<ion-select-option value="Dir">Dir</ion-select-option>
					<ion-select-option value="Nachalnak">Nachalnak</ion-select-option>
					<ion-select-option value="Injener">Injener</ion-select-option>
					<ion-select-option value="Inspektor OE">Inspektor OE</ion-select-option>
					<ion-select-option value="Inspektor RES">Inspektor RES</ion-select-option>
					<ion-select-option value="Admin">Admin</ion-select-option>
				</ion-select>
			</ion-item>
			<ion-item>
				<ion-label color="primary" position="stacked">RES name</ion-label>
				<ion-select formControlName="resName" interface="popover" [(ngModel)]="userProps.resName">
					<ion-select-option value="OE">OE</ion-select-option>
					<ion-select-option value="Osh sbyt">Osh sbyt</ion-select-option>
					<ion-select-option value="Karasuu RES">Karasuu RES</ion-select-option>
					<ion-select-option value="Nookat RES">Hookat RES</ion-select-option>
					<ion-select-option value="Uzget RES">Uzget RES</ion-select-option>
					<ion-select-option value="Arava RES">Arava RES</ion-select-option>
					<ion-select-option value="Alay RES">Alay RES</ion-select-option>
					<ion-select-option value="Karakulja RES">Karakulja RES</ion-select-option>
				</ion-select>
			</ion-item>
			
			
			<ion-item *ngFor="let base1c of base1cList$ | async">
				<ion-label>{{base1c.name}}</ion-label>
				<ion-toggle slot="start" color="success" checked="{{containsBase1c(base1c)}}" (ionChange)="editArrayBase1c($event, base1c)"></ion-toggle>
			</ion-item>
			
			
			<ion-list lines="none" class="is-list-buttons is-list-transparent ion-padding ion-no-margin">
				<ion-item color="primary" button detail="true" type="submit" [disabled]="form.invalid || (isSubmittingUpdateUser$ | async)"
				          (click)="onSubmit()">
					<ion-label>Save</ion-label>
					<ng-container *ngIf="isSubmittingUpdateUser$|async">
						<span>Please wait...</span>
					</ng-container>
				</ion-item>
			</ion-list>
			
			<ion-list lines="none" class="is-list-buttons is-list-transparent ion-padding ion-no-margin">
				<ion-item color="primary" button (click)="dismissModal()">
					<ion-label>Cancel</ion-label>
				</ion-item>
			</ion-list>
			
			<!--    <ng-container *ngIf="backendErrors$ | async">-->
			<!--      <app-backend-error-messages [backendErrors]="backendErrors$ | async"></app-backend-error-messages>-->
			<!--    </ng-container>-->
		</ion-list>
	</form>
</ion-content>
