<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-button (click)="dismissModal()">
				<ion-icon name="arrow-back-outline"></ion-icon>
			</ion-button>
		</ion-buttons>
		<ion-title>{{meteringPointProps.namePU}}</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ng-container *ngIf="showForm">
		<form [formGroup]="form">
			<ion-list class="ion-padding-bottom">
				<ion-item>
					<ion-label color="primary" position="stacked">Новое контрольное показание</ion-label>
					<ion-input formControlName="meterRiding" type="text"></ion-input>
				</ion-item>
			</ion-list>
			
			<ion-list lines="none" class="is-list-buttons is-list-transparent ion-padding ion-no-margin">
				<ion-item color="primary" button detail="true" type="submit" [disabled]="form.invalid || (isSubmittingCR$ | async)" (click)="onSubmit()">
					<ion-label>Контрольное показание</ion-label>
				</ion-item>
			</ion-list>
		</form>
	</ng-container>
	
	<ng-container *ngIf="isLoggedInCreateCR$|async">
		<ion-item color="success">
			<h5>{{(messageResponse$|async).message}}</h5>
		</ion-item>
	</ng-container>
	
	<ng-container *ngIf="isLoggedInCR$|async">
		<ion-list *ngFor="let controlReading of controlReadingList$|async">
			<ion-item>
				<ion-thumbnail slot="start">
					<img src="assets/imgs/thumbnail-totoro.png" alt="">
				</ion-thumbnail>
				<ion-label>
					<p>последнея показание: {{controlReading.meterRiding}}</p>
					<p>пользователь: {{controlReading.userName}}</p>
					<p>дата обновление: {{controlReading.createdDate}}</p>
				</ion-label>
			</ion-item>
		</ion-list>
	</ng-container>
</ion-content>



