<ion-app>
	<ion-menu contentId="content" side="start">
		<ion-header>
			<ion-toolbar *ngIf="isLoggedInCurrentUser$|async">
				<ion-list>
					<ion-item>
						<ion-avatar slot="start">
							<img src="assets/imgs/profile.png" alt="">
						</ion-avatar>
						<ion-label>
							<h2>{{(currentUser$|async).username}} {{(currentUser$|async).lastName}}</h2>
						</ion-label>
					</ion-item>
				</ion-list>
			</ion-toolbar>
		</ion-header>
		
		<ion-content *ngIf="isLoggedInCurrentUser$|async">
			<ion-list>
				<ion-menu-toggle autoHide="false" *ngFor="let nav of (currentUser$|async)?.roles.includes('ROLE_ADMIN') ? navsAdmin : navs">
					<ion-item routerDirection="root" [routerLink]="nav.link" [class.active-menu]="active === nav.link">{{nav.name}}
						<ion-icon slot="start" [md]="nav.icon"></ion-icon>
					</ion-item>
				</ion-menu-toggle>
				
				<ion-menu-toggle>
					<ion-item (click)="onExit()">
						<ion-icon slot="start" name="exit"></ion-icon>
						Exit
					</ion-item>
				</ion-menu-toggle>
			</ion-list>
		
		</ion-content>
	</ion-menu>
	
	<ion-router-outlet id="content"></ion-router-outlet>
</ion-app>
