<ion-app>
	<ion-menu contentId="content" side="start">
		<ion-header>
			<ion-toolbar *ngIf="isLoggedIn$|async">
				<ion-list>
					<ion-item>
						<ion-avatar slot="start">
							<img src="assets/imgs/profile.png">
						</ion-avatar>
						<ion-label>
							<h2>{{(currentUser$|async).username}} {{(currentUser$|async).lastName}}</h2>
						</ion-label>
					</ion-item>
				</ion-list>
			</ion-toolbar>
		</ion-header>
		
		
		<ion-content>
			<ion-list>
				
				<ion-menu-toggle autoHide="false">
					<ion-item routerDirection="root" [routerLink]="['about']">
						About
						<ion-icon slot="start" [md]="'person-circle' + '-sharp'"></ion-icon>
					</ion-item>
				</ion-menu-toggle>
				
				<ion-menu-toggle autoHide="false">
					<ion-item routerDirection="root" [routerLink]="['blog']">
						Blog
						<ion-icon slot="start" [md]="'albums' + '-sharp'"></ion-icon>
					</ion-item>
				</ion-menu-toggle>
				
				<ion-menu-toggle autoHide="false">
					<ion-item routerDirection="root" [routerLink]="['contact']">
						Contact
						<ion-icon slot="start" [md]="'call' + '-sharp'"></ion-icon>
					</ion-item>
				</ion-menu-toggle>
				
				
				<ion-menu-toggle>
					<ion-item (click)="onExit()">
						<ion-icon slot="start" name="exit"></ion-icon>
						Exit
					</ion-item>
				</ion-menu-toggle>
			
			</ion-list>
		</ion-content>
	</ion-menu>
	
	<ion-router-outlet id="content"></ion-router-outlet>
</ion-app>
